In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('esi_2022.csv')

In [3]:
data.shape

(5052633, 1)

In [4]:
data.head(5)

  ;"tip_movi";"tip_naci";"anio_movi";"mes_movi";"dia_movi";"sex_migr";"nac_migr";"subcont_nac";"cont_nac";"via_tran";"mot_viam";"pais_prod";"subcont_prod";"cont_prod";"lug_prod";"pais_res";"subcont_res";"cont_res";"jef_migr";"pro_jefm";"can_jefm";"cla_migr";"ocu_migr";"edad"
0  1;2;1;2022;4;20;2;218;13;1;1;5;32;13;1;32017;3...
1  2;1;1;2022;5;26;2;218;13;1;1;5;756;24;2;756006...
2  3;2;1;2022;12;8;1;218;13;1;2;5;170;13;1;170010...
3  4;2;1;2022;10;3;1;218;13;1;1;1;840;11;1;840095...
4  5;1;1;2022;2;1;2;218;13;1;1;5;724;23;2;724045;...

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5052633 entries, 0 to 5052632
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                             Dtype
---  ------                                                                                                                                                                                                                                                                             -----
 0   ;"tip_movi";"tip_naci";"anio_movi";"mes_movi";"dia_movi";"sex_migr";"nac_migr";"subcont_nac";"cont_nac";"via_tran";"mot_viam";"pais_prod";"subcont_prod";"cont_prod";"lug_prod";"pais_res";"subcont_res";"cont_res";"jef_migr";"pro_jefm";"can_jefm";"cla_migr";"ocu_migr";"edad"  object
dtypes: object(1)
memory usage: 38.5+ MB

In [12]:
data.columns

Index([';"tip_movi";"tip_naci";"anio_movi";"mes_movi";"dia_movi";"sex_migr";"nac_migr";"subcont_nac";"cont_nac";"via_tran";"mot_viam";"pais_prod";"subcont_prod";"cont_prod";"lug_prod";"pais_res";"subcont_res";"cont_res";"jef_migr";"pro_jefm";"can_jefm";"cla_migr";"ocu_migr";"edad"'], dtype='object')

In [20]:
data = data[';"tip_movi";"tip_naci";"anio_movi";"mes_movi";"dia_movi";"sex_migr";"nac_migr";"subcont_nac";"cont_nac";"via_tran";"mot_viam";"pais_prod";"subcont_prod";"cont_prod";"lug_prod";"pais_res";"subcont_res";"cont_res";"jef_migr";"pro_jefm";"can_jefm";"cla_migr";"ocu_migr";"edad"'].str.split(';', expand=True)
data.shape

(5052633, 25)

In [22]:
data.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
dtype: object

In [23]:
data.head(3)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1,2,1,2022,4,20,2,218,13,1,...,32017,32,13,1,1,17,1701,88,66666,23
1,2,1,1,2022,5,26,2,218,13,1,...,756006,218,13,1,1,17,1701,88,55555,68
2,3,2,1,2022,12,8,1,218,13,1,...,170010,218,13,1,11,4,401,88,88888,14

In [24]:
nuevos_nombres = [
    'indice','tip_movi', 'tip_naci', 'anio_movi', 'mes_movi', 'dia_movi', 'sex_migr', 'nac_migr', 'subcont_nac',
    'cont_nac', 'via_tran', 'mot_viam', 'pais_prod', 'subcont_prod', 'cont_prod', 'lug_prod', 'pais_res',
    'subcont_res', 'cont_res', 'jef_migr', 'pro_jefm', 'can_jefm', 'cla_migr', 'ocu_migr', 'edad'
]
data.columns = nuevos_nombres
data.head(3)

,indice,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,2,1,2022,4,20,2,218,13,1,...,32017,32,13,1,1,17,1701,88,66666,23
1,2,1,1,2022,5,26,2,218,13,1,...,756006,218,13,1,1,17,1701,88,55555,68
2,3,2,1,2022,12,8,1,218,13,1,...,170010,218,13,1,11,4,401,88,88888,14

In [26]:
data.columns

Index(['indice', 'tip_movi', 'tip_naci', 'anio_movi', 'mes_movi', 'dia_movi',
       'sex_migr', 'nac_migr', 'subcont_nac', 'cont_nac', 'via_tran',
       'mot_viam', 'pais_prod', 'subcont_prod', 'cont_prod', 'lug_prod',
       'pais_res', 'subcont_res', 'cont_res', 'jef_migr', 'pro_jefm',
       'can_jefm', 'cla_migr', 'ocu_migr', 'edad'],
      dtype='object')

In [27]:
columnasEliminar = ["indice", "sex_migr", "nac_migr", "subcont_nac", "subcont_nac", "subcont_prod", "cont_prod", "lug_prod", "pais_res", "subcont_res", "cont_res", "jef_migr", "pro_jefm", "can_jefm", "cla_migr", "ocu_migr", "edad"]
data = data.drop(columns=columnasEliminar)

In [28]:
data.head()

,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,cont_nac,via_tran,mot_viam,pais_prod
0,2,1,2022,4,20,1,1,5,32
1,1,1,2022,5,26,1,1,5,756
2,2,1,2022,12,8,1,2,5,170
3,2,1,2022,10,3,1,1,1,840
4,1,1,2022,2,1,1,1,5,724

In [29]:
data.shape

(5052633, 9)

In [30]:
# Verificar la presencia de valores nulos en el DataFrame
valores_nulos = data.isnull()

# Mostrar el DataFrame de valores nulos
print(valores_nulos)

         tip_movi  tip_naci  anio_movi  mes_movi  dia_movi  cont_nac  \
0           False     False      False     False     False     False
1           False     False      False     False     False     False
2           False     False      False     False     False     False
3           False     False      False     False     False     False
4           False     False      False     False     False     False
...           ...       ...        ...       ...       ...       ...
5052628     False     False      False     False     False     False
5052629     False     False      False     False     False     False
5052630     False     False      False     False     False     False
5052631     False     False      False     False     False     False
5052632     False     False      False     False     False     False

         via_tran  mot_viam  pais_prod
0           False     False      False
1           False     False      False
2           False     False      False
3           False     False      False
4           False     False      False
...           ...       ...        ...
5052628     False     False      False
5052629     False     False      False
5052630     False     False      False
5052631     False     False      False
5052632     False     False      False

[5052633 rows x 9 columns]

In [31]:
# Verificar si hay al menos un valor nulo en cada columna
valores_nulos_por_columna = valores_nulos.any()

# Mostrar los resultados por columna
print(valores_nulos_por_columna)

tip_movi     False
tip_naci     False
anio_movi    False
mes_movi     False
dia_movi     False
cont_nac     False
via_tran     False
mot_viam     False
pais_prod    False
dtype: bool

In [32]:
# Calcular la cantidad total de valores nulos en el DataFrame
total_valores_nulos = valores_nulos.sum().sum()

# Mostrar la cantidad total de valores nulos
print("Total de valores nulos:", total_valores_nulos)

Total de valores nulos: 0

In [33]:
columnasEliminar = ["cont_nac"]
data = data.drop(columns=columnasEliminar)
data.head()

  tip_movi tip_naci anio_movi mes_movi dia_movi via_tran mot_viam pais_prod
0        2        1      2022        4       20        1        5        32
1        1        1      2022        5       26        1        5       756
2        2        1      2022       12        8        2        5       170
3        2        1      2022       10        3        1        1       840
4        1        1      2022        2        1        1        5       724

In [35]:
print(data.shape)
print(data.dtypes)

(5052633, 8)
tip_movi     object
tip_naci     object
anio_movi    object
mes_movi     object
dia_movi     object
via_tran     object
mot_viam     object
pais_prod    object
dtype: object

In [38]:
# Contar cuántos valores de 'tip_movi' son iguales a 2
contador = (data['tip_movi'] == '2').sum()

# Mostrar el resultado
print("Cantidad de valores de 'tip_movi' igual a 2:", contador)

Cantidad de valores de 'tip_movi' igual a 2: 2595089